* {
	font-smooth: never;
	-webkit-font-smoothing : none;
}

body{
   background:#000;
   color:#222;
   padding:0;
   overflow: visible;
}
#gjs-loader {
    width: 50%;
    height: 50%;
    background: url('../public/ajax-loader.gif');
}

#gjs-canvas {
	margin: auto;
	display: block;
        	
}


/* DIALOG */
.ui-dialog {
	padding: 0px;
	font-size: 12pt;
	border-radius: 0px;
	border: 1px solid #00beff;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0.1em 0.5em;
}

.ui-dialog .ui-dialog-titlebar {
	border-radius: 0px;
	border: 0px;
	color: white;
	background: #00beff;
}

.ui-dialog-close-link {
	display: inline-block;
	position: absolute;
	right: .3em;
	cursor: pointer;
}

.ui-dialog-close-link:hover {
	font-size:120%;
}

/*  UI ITEM*/
.ui-item {
	display: inline-block;
	padding: 3px;
	position: relative;
}

.ui-item .equip-tag {
	position: absolute;
	color: orange;
	font-size: 12pt;
	right: 2px;
	bottom: 2px;
}


.ui-item .ammo-tag {
	position: absolute;
	color: red;
	font-size: 12pt;
	right: 14px;
	bottom: 2px;
}

/*CONTEXT MENU */ 
.context-menu {
	position: fixed;
	z-index: 101;
	background: white;
	border: solid 1px #00beff;
	padding: 5px 0px;
}

.context-menu ul {
	padding-left:0px;
	margin: 0px;
}

.context-menu li {
	padding: 2px 8px;
	list-style: none;
	cursor: pointer;
}

.context-menu li:hover {
	background: #00beff;
	color: white;
}

/*CHARACTER STATUS */
.character-status {
	position: fixed;
	
}

.character-title {
	color: white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    display: block;
}

.character-status .health {
	width: 100px;
	height: 20px;
	position: relative;
	background-color: red;
}

.character-status .health .filler {
	background-color: green;
	height: 20px;
}

.character-status .health label {
	position: absolute;
	top: 2px;
	left: 4px;
	color: white;
}


.ac {
	width:10px;
	height:10px;
	display: inline-block;
	margin-right: 2px;
}

.ac-move {
	background-color: yellow;
}

.ac-action {
	background-color: orange;
}

.item-container {
	overflow: visible !important;
	padding: 0px !important;
}
.inventory-container .row {
	height: 42px;
}

.inventory-slot {
	width: 42px;
	height: 42px;
	vertical-align: top;
	border: solid 1px gray;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}